<fieldset>
  <legend class="expand">Select Columns</legend>

  <div class="collapse">
    <!-- tables for layout? sue me, I'm lazy -->
    <table id="column_selector" class="pure-table">
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="id" <%= @user_columns.include?('id') ? 'checked="true"' : '' %>> <strong>ID:</strong> BTC Jam ID
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="alias" <%= @user_columns.include?('alias') ? 'checked="true"' : '' %>> <strong>Name:</strong> User name
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="profile_link" <%= @user_columns.include?('profile_link') ? 'checked="true"' : '' %>> <strong>Profile Link:</strong> Link to BTC Jam profile
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="rating" <%= @user_columns.include?('rating') ? 'checked="true"' : '' %>> <strong>Rating:</strong> BTC Jam 'credit rating'
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="loans" <%= @user_columns.include?('loans') ? 'checked="true"' : '' %>> <strong>Loans:</strong> Loan Count
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="repaid_loans" <%= @user_columns.include?('repaid_loans') ? 'checked="true"' : '' %>> <strong>Repaid Loans:</strong> BTC value and count of fully-repaid loans
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="total_repayments" <%= @user_columns.include?('total_repayments') ? 'checked="true"' : '' %>> <strong>Total Repayments:</strong> BTC value and count of all repayments
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="active_loans" <%= @user_columns.include?('active_loans') ? 'checked="true"' : '' %>> <strong>Active Loans:</strong> BTC value and count of active loans
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="funding_loans" <%= @user_columns.include?('funding_loans') ? 'checked="true"' : '' %>> <strong>Funding Loans:</strong> BTC value and count of funding-in-progress loans
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="overdue_loans" <%= @user_columns.include?('overdue_loans') ? 'checked="true"' : '' %>> <strong>Overdue Loans:</strong> BTC value and count of all overdue loans<br><small>Note: Payments already made on overdue loans are included</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="approx_debt" <%= @user_columns.include?('approx_debt') ? 'checked="true"' : '' %>> <strong>Approximate Debt:</strong> Approximate total amount still owed<br><small>Note: exchange-tied loans are not correctly calcualted as there is not enough data on BTC Jam - this will be flagged in the result list</small>
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="future_debt" <%= @user_columns.include?('future_debt') ? 'checked="true"' : '' %>> <strong>Debt Including Funding:</strong> Approximate amount owed if all funding-in-progress loans fund<br><small>Note: exchange-tied loans are not correctly calcualted as there is not enough data on BTC Jam - this will be flagged in the result list</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="total_invested" <%= @user_columns.include?('total_invested') ? 'checked="true"' : '' %>> <strong>Total Invested:</strong> All-time total of investments
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="active_investments" <%= @user_columns.include?('active_investments') ? 'checked="true"' : '' %>> <strong>Active Investments:</strong> Total invested in currently-active loans<br><small>Note: This shows full investment amount, not remaining investment</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="overdue_investments" <%= @user_columns.include?('overdue_investments') ? 'checked="true"' : '' %>> <strong>Overdue Investments:</strong> Total invested in currently-overdue loans<br><small>Note: This shows full investment amount, not remaining investment</small>
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="funding_investments" <%= @user_columns.include?('funding_investments') ? 'checked="true"' : '' %>> <strong>Active Investments:</strong> Total invested in currently-funding loans
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="user_columns[]" value="investment_ratio" <%= @user_columns.include?('investment_ratio') ? 'checked="true"' : '' %>> <strong>Investment Ratio:</strong> Ratio of active investments to active loans<br><small>Note: A value of > 1 indicates the user has more collateral in BTC Jam than they are borrowing</small>
        </td>
        <td>
          <input type="checkbox" name="user_columns[]" value="last_activity" <%= @user_columns.include?('last_activity') ? 'checked="true"' : '' %>> <strong>Last Activity:</strong> The time of the user's last investment or loan activation</small>
        </td>
      </tr>
    </table>

  </div>
</fieldset>