
<% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.alias %></td>
      <td><%= link_to user.profile_url, user.profile_url %></td>
      <td><%= credit_rating_str user.credit_rating %></td>
      <td><%= user.loan_count %><!-- <%= link_to 'View', user_path(user) %> --></td>
      <td>฿<%= format_btc user.repaid_btc %> (<%= user.repaid_count %>)</td>
      <td>฿<%= format_btc user.payments_btc %> (<%= user.payments_count %>)</td>
      <td>฿<%= format_btc user.active_btc %> (<%= user.active_count %>)</td>
      <td>฿<%= format_btc user.funding_btc %> (<%= user.funding_count %>)</td>
      <td>฿<%= format_btc user.overdue_btc %> (<%= user.overdue_loan_count %>)</td>
      <td>
        ฿<%= format_btc (user.total_debt.to_f / 10000000).round * 10000000 %>
        <%= image_tag('question_red.png', :title => 'This value is based on exchange-linked loans and may not be accurate') if user.total_debt_has_exchange_link %>
      </td>
      <td>
        ฿<%= format_btc (user.future_debt.to_f / 10000000).round * 10000000 %>
        <%= image_tag('question_red.png', :title => 'This value is based on exchange-linked loans and may not be accurate') if user.future_debt_has_exchange_link %>
      </td>
      <td>฿<%= format_btc user.investments_btc %> (<%= user.investments_count %>)</td>
      <td>฿<%= format_btc user.active_investments_btc %> (<%= user.active_investments_count %>)</td>
      <td>฿<%= format_btc user.overdue_investments_btc %> (<%= user.overdue_investments_count %>)</td>
      <td>฿<%= format_btc user.funding_investments_btc %> (<%= user.funding_investments_count %>)</td>
      <td><%= user.investment_ratio || 'N/A' %></td>
      <td><span title='<%= user.last_active_at.to_s %>'><%= user.last_active_at.to_date.to_s %></span></td>
    </tr>
<% end %>