
<% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.alias %></td>
      <td><%= link_to user.profile_url, user.profile_url %></td>
      <td><%= user.loans.count %><!-- <%= link_to 'View', user_path(user) %> --></td>
      <td>฿<%= format_btc user.repaid_btc %> (<%= user.repaid_count %>)</td>
      <td>฿<%= format_btc user.payments_btc %> (<%= user.payments_count %>)</td>
      <td>฿<%= format_btc user.active_btc %> (<%= user.active_count %>)</td>
      <td>฿<%= format_btc user.funding_btc %> (<%= user.funding_count %>)</td>
      <td>฿<%= format_btc user.overdue_btc %> (<%= user.overdue_loan_count %>)</td>
      <td>฿<%= format_btc (user.total_debt.to_f / 10000000).round * 10000000 %></td>
      <td>฿<%= format_btc (user.future_debt.to_f / 10000000).round * 10000000 %></td>
      <td>฿<%= format_btc user.investments_btc %> (<%= user.investments_count %>)</td>
      <td>฿<%= format_btc user.active_investments_btc %> (<%= user.active_investments_count %>)</td>
      <td>฿<%= format_btc user.overdue_investments_btc %> (<%= user.overdue_investments_count %>)</td>
      <td>฿<%= format_btc user.funding_investments_btc %> (<%= user.funding_investments_count %>)</td>
    </tr>
<% end %>