<h1>Users</h1>

<form class="pure-form" method="get" action="<%= users_path %>" id="user_search">
  <fieldset>
    <legend>Filter Users</legend>

    <input type="text" placeholder="username" name="alias">
    Last activity:
    <select name="period" id="period_combo">
    <% %w(3 6 9 12).each do |m| %>
    <option value="<%= m %>" <%= m == @period.to_s ? 'selected="true"' : '' %>>Last <%= m %> months</option>
    <% end %>
    <option value="all" <%= 'all' == @period.to_s ? 'selected="true"' : '' %>>All Time</option>
    </select>
    &nbsp;&nbsp;
    Rating:
    <% %w(A B C D E).each do |rating| %>
        <input type="checkbox" name="rating[]" value="<%= rating %>" <%= @ratings.include?(rating) ? 'checked="true"' : '' %>> <%= rating %>
    <% end %>
    &nbsp;&nbsp;
    <input type="checkbox" name="only_funding" value="1" <%= @only_funding ? 'checked="true"' : '' %>> Only users with funding loans
    <input type="submit" value="search" class="pure-button pure-button-primary">
  </fieldset>

  <fieldset>
    <legend class="expand">Select Columns</legend>

    <div class="collapse">
    <!-- tables for layout? sue me, I'm lazy -->
    <table id="column_selector">
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="id" <%= @columns.include?('id') ? 'checked="true"' : '' %>> <strong>ID:</strong> BTC Jam ID
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="alias" <%= @columns.include?('alias') ? 'checked="true"' : '' %>> <strong>Name:</strong> User name
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="profile_link" <%= @columns.include?('profile_link') ? 'checked="true"' : '' %>> <strong>Profile Link:</strong> Link to BTC Jam profile
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="rating" <%= @columns.include?('rating') ? 'checked="true"' : '' %>> <strong>Rating:</strong> BTC Jam 'credit rating'
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="loans" <%= @columns.include?('loans') ? 'checked="true"' : '' %>> <strong>Loans:</strong> Loan Count
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="repaid_loans" <%= @columns.include?('repaid_loans') ? 'checked="true"' : '' %>> <strong>Repaid Loans:</strong> BTC value and count of fully-repaid loans
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="total_repayments" <%= @columns.include?('total_repayments') ? 'checked="true"' : '' %>> <strong>Total Repayments:</strong> BTC value and count of all repayments
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="active_loans" <%= @columns.include?('active_loans') ? 'checked="true"' : '' %>> <strong>Active Loans:</strong> BTC value and count of active loans
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="funding_loans" <%= @columns.include?('funding_loans') ? 'checked="true"' : '' %>> <strong>Funding Loans:</strong> BTC value and count of funding-in-progress loans
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="overdue_loans" <%= @columns.include?('overdue_loans') ? 'checked="true"' : '' %>> <strong>Overdue Loans:</strong> BTC value and count of all overdue loans<br><small>Note: Payments already made on overdue loans are included</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="approx_debt" <%= @columns.include?('approx_debt') ? 'checked="true"' : '' %>> <strong>Approximate Debt:</strong> Approximate total amount still owed<br><small>Note: exchange-tied loans are not correctly calcualted as there is not enough data on BTC Jam - this will be flagged in the result list</small>
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="future_debt" <%= @columns.include?('future_debt') ? 'checked="true"' : '' %>> <strong>Debt Including Funding:</strong> Approximate amount owed if all funding-in-progress loans fund<br><small>Note: exchange-tied loans are not correctly calcualted as there is not enough data on BTC Jam - this will be flagged in the result list</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="total_invested" <%= @columns.include?('total_invested') ? 'checked="true"' : '' %>> <strong>Total Invested:</strong> All-time total of investments
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="active_investments" <%= @columns.include?('active_investments') ? 'checked="true"' : '' %>> <strong>Active Investments:</strong> Total invested in currently-active loans<br><small>Note: This shows full investment amount, not remaining investment</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="overdue_investments" <%= @columns.include?('overdue_investments') ? 'checked="true"' : '' %>> <strong>Overdue Investments:</strong> Total invested in currently-overdue loans<br><small>Note: This shows full investment amount, not remaining investment</small>
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="funding_investments" <%= @columns.include?('funding_investments') ? 'checked="true"' : '' %>> <strong>Active Investments:</strong> Total invested in currently-funding loans
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="columns[]" value="investment_ratio" <%= @columns.include?('investment_ratio') ? 'checked="true"' : '' %>> <strong>Investment Ratio:</strong> Ratio of active investments to active loans<small>Note: A value of > 1 indicates the user has more collateral in BTC Jam than they are borrowing</small>
        </td>
        <td>
          <input type="checkbox" name="columns[]" value="last_activity" <%= @columns.include?('last_activity') ? 'checked="true"' : '' %>> <strong>Last Activity:</strong> The time of the user's last investment or loan activation</small>
        </td>
      </tr>
    </table>

    </div>
  </fieldset>
</form>

<table class="pure-table">
  <thead id="table_header">
    <%= render 'users_table_header', users: @users %></thead>
  <tbody id="user_content">
    <%= render 'users_table_content', users: @users %>
  </tbody>
</table>

<div id="pagina">
  <%= will_paginate @users %>
</div>
