<h1>Users</h1>

<form class="pure-form" method="get" action="<%= users_path %>" id="user_search">
  <fieldset>
    <legend>Filter Users</legend>

    <input type="text" placeholder="username" name="alias">
    Last activity:
    <select name="period" id="period_combo">
    <% %w(3 6 9 12).each do |m| %>
    <option value="<%= m %>" <%= m == @period.to_s ? 'selected="true"' : '' %>>Last <%= m %> months</option>
    <% end %>
    <option value="all" <%= 'all' == @period.to_s ? 'selected="true"' : '' %>>All Time</option>
    </select>
    &nbsp;&nbsp;
    Rating:
    <% %w(A B C D E).each do |rating| %>
        <input type="checkbox" name="rating[]" value="<%= rating %>" <%= @ratings.include?(rating) ? 'checked="true"' : '' %>> <%= rating %>
    <% end %>
    &nbsp;&nbsp;
    <input placeholder="min. investment ratio" type="number" step="0.1" name="investment_ratio" value="<%= @investment_ratio %>">
    &nbsp;&nbsp;
    <input type="checkbox" name="only_funding" value="1" <%= @only_funding ? 'checked="true"' : '' %>> Only users with funding loans
    &nbsp;&nbsp;
    <input type="submit" value="search" class="pure-button pure-button-primary">
  </fieldset>

  <%= render 'users_column_selector' %>
</form>

<table class="pure-table">
  <thead id="table_header">
    <%= render 'users_table_header', users: @users %></thead>
  <tbody id="user_content">
    <%= render 'users_table_content', users: @users %>
  </tbody>
</table>

<div id="pagina">
  <%= will_paginate @users %>
</div>
