<h1>Loans</h1>

<form class="pure-form" method="get" action="<%= loans_path %>" id="loan_search">
  <fieldset>
    <legend>Filter loans</legend>

    <input type="text" placeholder="Loan Name" name="name">
    <input type="text" placeholder="User Name" name="user_name">
    &nbsp;&nbsp;
    Invested within:
    <select name="period" id="period_combo">
      <% %w(3 6 9 12).each do |m| %>
          <option value="<%= m %>" <%= m == @period.to_s ? 'selected="true"' : '' %>>Last <%= m %> months</option>
      <% end %>
      <option value="all" <%= 'all' == @period.to_s ? 'selected="true"' : '' %>>All Time</option>
    </select>
    &nbsp;&nbsp;
    <% %w(repaid active overdue funding).each do |state| %>
        <input type="checkbox" name="<%= state %>" value="1" <%= @states[state] ? 'checked="true"' : '' %>> <%= state.capitalize %>
    <% end %>
    &nbsp;&nbsp;
    <input type="submit" value="search" class="pure-button pure-button-primary">
  </fieldset>

  <%= render 'loans_column_selector' %>
</form>

<table class="pure-table">
  <thead id="table_header">
  <%= render 'loans_table_header', loans: @loans %></thead>
  <tbody id="loan_content">
  <%= render 'loans_table_content', loans: @loans %>
  </tbody>
</table>

<div id="loans_pagina">
  <%= will_paginate @loans %>
</div>
